#fav,#noFav{
    cursor: url('../img/cursor_cerrado.png') 16 16, auto;
}
li,body{    cursor: url('../img/pokedex_cerrada.png') 16 16, auto;
}

#fav:active,#noFav:active{
    cursor: url('../img/curor_abierto.png'), auto !important;
}
li:active{
    cursor: url('../img/pokedex_abierta.png'), auto !important;
}

:root{
    user-select: none;
}


@font-face {
        font-family: "pokemon";
        src: url("../fonts/pokemon.ttf") format("truetype");
    }

    /* Forzamos a toda la página a usarla */
    body {
        font-family: "pokemon", sans-serif !important;
        font-size: 12px;
    }


.skeleton {
            background-image: url("./img/reverso-carta.png");
            background-size: cover;
            background-position: center;
            animation: shimmer 1.5s infinite;
            border-radius: 3px;

        }

        @keyframes shimmer {
            0% {
                background-position: 200% 0;
            }

            100% {
                background-position: -200% 0;
            }
        }
